#GITIGNORE

**/bin
**/obj

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
Web.config
Web.Debug.config
Web.Release.config
clients.config
clients.test.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
packages/
DataLinker.API/DataLinker.API.XML
DataLinker.Web/wkhtmltopdf.exe
DataLinker.Web/msvcp120.dll
DataLinker.API/msvcr120.dll
DataLinker.API/msvcp120.dll
DataLinker.Web/msvcr120.dll
DataLinker.API/wkhtmltopdf.exe
DataLinker.WebApi/wkhtmltopdf.exe
DataLinker.WebApi/msvcr120.dll
DataLinker.WebApi/msvcp120.dll
