@model DataLinker.Web.Models.ErrorModel
<h3>Your email address was successfully confirmed</h3>
<h3>
    <small>
        You can <a href="@Url.Action("SignIn")">login now</a> using your new email address
    </small>
</h3>