@model DataLinker.Web.Models.ErrorModel
<h3>Your link from email confirmation is expired</h3>
<h3>
    <small>
        To get a new one, please email us: <a href="mailto:@Model.Message">@Model.Message</a>
    </small>
</h3>