<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>
    <link href="{contentPath}/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{contentPath}/app/app.css" rel="stylesheet">
    <link href="{contentPath}/css/{brand}.css" rel="stylesheet" />
</head>
<body lang="en">
    <div class="headerWrapper">
        <div class="navbar-header container">
            <!--<span class="navbar-brand">{siteName}</span>-->
            <span class="navbar-brand"></span>
        </div>
        <ul class="nav navbar-nav" ng-show="model.currentUser" ng-cloak>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{model.currentUser}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{model.logoutUrl}}">Logout</a></li>
                    <li class="divider" ng-show="model.loginWithDifferentAccountUrl"></li>
                    <li><a href="{{model.loginWithDifferentAccountUrl}}" ng-show="model.loginWithDifferentAccountUrl">Login With Different Account</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class='container page-login' ng-cloak>
        <div class="page-header hide">
            <h1>Reset Password</h1>
        </div>

        <div class="row" ng-show="model.successMessage">
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-success">
                    <strong>Success:</strong>
                    {{model.successMessage}}
                </div>
            </div>
        </div>
    </div>

    <script id='modelJson' type='application/json'>
        {model}
    </script>
    <script src="{contentPath}/libs/jquery/jquery-1.11.0.min.js"></script>
    <script src="{contentPath}/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="{contentPath}/libs/angular/angular.1.2.13.min.js"></script>
    <script src="{contentPath}/libs/encoder/encoder.min.js"></script>
    <script src="{contentPath}/forgotten_password/app.js"></script>
</body>
</html>


