@using DataLinker.Web.Helpers
@model IEnumerable<DataLinker.Models.RegistrationModel>

@if (!Model.Any())
{
    <div class="panel-body">No applications and services requiring legal approval</div>
}
else
{
    <table class="table">
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumerApplicationName)
                </td>
                @*<td>
                    @Html.ServiceTypeLabel(item.IsProvider)
                </td>
                <td>
                    <span class="btn-group pull-right">
                        <a href="@Url.Action("Details", "Applications", new {id = item.ID})" class="btn btn-default btn-sm">
                            <span aria-hidden="true"></span> View
                        </a>
                </span>
                </td>*@
            </tr>
        }
    </table>
}