@using DataLinker.Web.Helpers
<h2>@ViewBag.Title</h2>
<br/>
<p>Data Linker matches organisations with shared data interests, streamlines Licence Agreement negotiations and provides a protocol for obtaining farmer permission for data transfer.</p>
<p>It maintains a library of data schema proscribing standard formats for data subsets, so that members can code once for a data schema and re-use across multiple parties.</p>
<p>It maintains a Licence Agreement template, offering choice around use and attribution so that members can agree terms quickly.</p>
<p>Members register their data interests and licence provisions. Data Linker provides connection points for matching ‘Providers’ and ‘Consumers’ 
    allowing systems to interact directly to execute Licence Agreements, authenticate farmer authorisation and initiate data transfer.</p>
@section scripts
{
    @Html.InitPageMainModule(string.Empty)
}