@using DataLinker.Web.Helpers
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Rezare Systems Limited<br/>
    Waikato Innovation Park,<br />
    2 Melody Lane,<br />
    PO Box 9466, Hamilton,<br />
    New Zealand
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@datalinker.org.nz">info@datalinker.org.nz</a><br/>
</address>
@section scripts
{
    @Html.InitPageMainModule(string.Empty)
}