<p>
    <b>Need help?</b> Check out our <a href="~/Datalinker User Guide v1.6.pdf">User guide</a>
</p>
<h4><small>For more guides, please email your github username to <a href="mailto:info@datalinker.org.nz">info@datalinker.org.nz</a> to access implementation wikis and schema repositories. If you do not have a github account, you can create one here: <a href="https://github.com/join?source=header-home">https://github.com/join?source=header-home</a>.</small></h4>