<form action="@Url.Action("UploadCustomLicense", "Licenses", null)" enctype="multipart/form-data" method="post">
    <br />
    <p>Upload your custom license</p>
    <div class="row">
        <div class="col-md-2">
            <input type="file" accept=".pdf" name="file" />
        </div>
    </div>
    <br />
    <div class="row" style="padding-left:15px">
        <button type="submit" class="btn btn-default">Upload</button>
    </div>
</form>