<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityManager" version="1.0.0-beta5-5" targetFramework="net452" />
  <package id="IdentityServer3" version="2.2.0" targetFramework="net452" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net452" />
  <package id="Rezare.IdentityServer.Common" version="0.5.1.224-beta" targetFramework="net452" />
  <package id="Rezare.Lib" version="1.0.36.2" targetFramework="net452" />
  <package id="Rezare.Owin" version="0.1.8.2" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
</packages>