body {
    margin: 10px 0;
    padding: 0 10px;
    background: #E8E8E8;
    font-size: 13px;
}

table {
    border-collapse: collapse;
}

td {
    font-family: arial, sans-serif;
    color: #2C3E44;
}

@media only screen and (max-width: 480px) {
    body, table, td, p, a, li, blockquote {
        -webkit-text-size-adjust: none !important;
    }

    table {
        width: 100% !important;
    }

    .responsive-image img {
        height: auto !important;
        max-width: 100% !important;
        width: 100% !important;
    }
}

.footer {
    font-size: 14px;
    color: #186B89;
    line-height: initial;
}

.email {
    font-weight: bold;
    color:white;
    text-decoration: none;
    font-family: "Arial", Sans-serif;
}

    .email:hover {
        text-decoration: underline;
    }

.note {
    font-size: 12px;
    color: #666666;
}

.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    font-size: 18px;
    color: black;
    background-color: #F06543;
    border-color: #87DDBB;
    min-width: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid transparent;
}

    .btn:focus,
    .btn.focus {
        color: #333;
        background-color: #E8E8E8;
        border-color: #8c8c8c;
    }

    .btn:hover {
        color: #333;
        background-color: #E8E8E8;
        border-color: #adadad;
    }

    .btn:active,
    .btn.active {
        color: #333;
        background-color: #E8E8E8;
        border-color: #adadad;
    }
    
.container-logo {
    font-size: 0;
    line-height: 0;
    padding: 0px 30px 0 30px;
}
